{% extends 'base.html' %}

{% block content %}
    {% if is_user_authenticated == False %}
        <div class="text-center">
            <h1>Invalid User Credentials!</h1>
            <p>Check if the username and password is correct</p>
        </div>
    {% else %}
        <div class="text-center">
            <h1>User Password Successfully Updated!</h1>
            <p>The password has been updated.</p>

            <button class="btn btn-primary mx-1 text-decoration-none">
                <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back to index page</a>
                
            </button>
        </div>
    {% endif %}
{% endblock %}