{% extends 'base.html' %}    

{% block title %}Event Item{% endblock %}

{% block content %}
    <div class="text-center my-3">
        <h3>{{ event_name }}</h3>
        <h5>Description</h5>
        <p>{{ description }}</p>
        <h5>Event Date</h5>
        <p>{{ event_date }}</p>
        <h5>Status</h5>
        <p>{{ status }}</p>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:update_event' id %}" class="text-light text-decoration-none">
                Edit Event
            </a>
        </button>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:delete_event' id %}" class="text-light text-decoration-none">
                Delete Event
            </a>
        </button>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back to index page</a>
            
        </button>
    </div>

{% endblock %}