{% extends 'base.html' %}
{% block title %}Registration Authentication{% endblock %}
{% load static %}

{% block content %}
	<div class="text-center">
		{% if is_user_registered == True %}
			<h1>Duplicate User Found!</h1>
			<p>A duplicate user has been found, user creation unsuccessful!</p>
		{% else %}
			<h1>User Registration Successful!</h1>
			<p>The account for {{ first_name }} has been created.</p>			
		{% endif %}
		<button class="btn btn-primary">
			<a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back to index page</a>
		</button>
	</div>
{% endblock %}
