{% extends 'base.html' %}

{% block title %}User Registration Form{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center my-3">Register a User</h1>
                {% if error == True %}
                    <p class="text-danger">Duplicate user found</p>
                {% endif %}
                <form action="{% url 'todolist:register_user' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first_name">First Name:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="first_name"
                            name="first_name"
                            value="{{ first_name }}"
                            maxlength="50"
                            required
                        >
                    </div>

                    <div class="mb-3">
                        <label for="last_name">Last Name:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="last_name"
                            name="last_name"
                            value="{{ last_name }}"
                            maxlength="50"
                            required
                        >
                    </div>

                    <div class="mb-3">
                        <label for="username">Username:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            value="{{ username }}"
                            maxlength="50"
                            required
                        >
                    </div>

                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="email"
                            name="email"
                            value="{{ email }}"
                            maxlength="50"
                            required
                        >
                    </div>

                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="password"
                            name="password"
                            value="{{ password }}"
                            maxlength="50"
                            required
                        >
                    </div>
                    
                    <div class="text-center">
                        <input
                            type="submit"
                            class="btn btn-success"
                            value="Register User"                           
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}